<div *ngIf="vm$ | async as vm" class="authors-container">
  <app-authors-header
    [authorsLength]="vm.authors.length"
    [isLoading]="vm.isLoading"
    (refreshAuthors)="onRefreshAuthors()"
  ></app-authors-header>

  <app-search-box
    label="Search Authors"
    [query]="vm.query"
    (queryChange)="onQueryChange($event)"
  ></app-search-box>

  <app-author-list
    [authors]="vm.authors"
    [isLoading]="vm.isLoading"
    (editAuthor)="onEditAuthor($event)"
    (deleteAuthor)="onDeleteAuthor($event)"
  ></app-author-list>
</div>
