<div class="authors-container">
  <app-authors-header
    [authorsLength]="authors.length"
    [isLoading]="isLoading"
    (refreshAuthors)="onRefreshAuthors()"
  ></app-authors-header>

  <app-search-box
    label="Search Authors"
    [query]="query"
    (queryChange)="onQueryChange($event)"
  ></app-search-box>

  <app-author-list
    [authors]="authors"
    [isLoading]="isLoading"
    (editAuthor)="onEditAuthor($event)"
    (deleteAuthor)="onDeleteAuthor($event)"
  ></app-author-list>
</div>
